:root {
    --branco-primaria: #FFFFFF;
    --branco-alternativa: #F9F9F9;
    --cinza-secundaria: #C0C0C0;
    --vermelho-destaque: #EC2F46;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter', sans-serif;
    --botao-azul-efeito: #69c1f5;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-primaria);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 50% 50%;
        /* margin-top: 7.8rem;
        margin-left: 3.4rem; */
    }

    .principal {
        background-image: url("../assets/Background.png");
        background-repeat: no-repeat;
        background-size: contain;
        align-items: center;
        text-align: center;
    }

        .container__caixa {
            margin: 0 3.4rem;
        }

            .container__caixa__titulo {
                font-size: 1.75rem;
                font-weight: 700;
            }

            .container__caixa__bloco {
                margin: 0 2.4rem;
            }

                .container__caixa__bloco__imagem {
                    margin: 1.4em 0 3.4em 0;
                }

                .container__caixa__bloco__botao {
                    background-color: var(--botao-azul);
                    border-radius: 8px;
                    padding: 1rem;
                    color: var(--branco-primaria);
                    display: block;
                    text-decoration: none;
                    margin-bottom: 1rem;
                }

                    .container__caixa__bloco__botao:hover {
                        background-color: var(--botao-azul-efeito);
                        color: var(--cor-de-fundo);
                    }

                .botao_secundario {
                    background-color: transparent;
                    border: 1px solid var(--branco-primaria);
                }

                .container__caixa__bloco__aviso {
                    font-size: 0.75rem;
                    color: var(--cinza-secundaria);
                }
    
    .secundario {
        align-items: center;
        height: 80vh;
    }

        .secundario__imagem {
            width: 70%;
            margin-left: 10.3rem;
        }

        .secundario__descricao {
            margin-right: 7.5rem;
            margin-left: 0.75rem;
            text-align: justify;
            font-style: normal;            
        }

            .secundario__descricao__titulo {
                font-size: 3rem;
                font-weight: 700;
                line-height: 1.2em;
            }

            .secundario__descricao__paragrafo {
                margin-top: 0.5rem;
                color: var(--branco-alternativa);
                line-height: 1.5em;
                opacity: 80%;
            }

            .secundario__botao {
                display: inline-block;
                margin-top: 1rem;
            }

        .descricao__dois {
            margin-left: 7.5rem;
            margin-right: 0.75rem;
        }
        
        .imagem__dois {
            margin-left: 3.6rem;
            margin-right: 10.4rem;
        }

        .imagem__tres {
            margin-left: 8.8rem;
            width: 75%;
        }
    
    .dispositivos {
        text-align: center;
        font-style: normal;
        font-weight: 700;           
        display: flex;
        flex-direction: column;
        margin-top: 8.5rem;
        gap: 2.5rem;
    }

        .dispositivos__titulo {
            font-size: 3rem;
            line-height: 1.2em; 
        }

        .dispositivos__lista {
            display: flex;
            justify-content: center;
            list-style-type: none;
            gap: 4.25rem;
        }

            .dispositivos__lista__item {
                font-size: 2rem;
                line-height: 1.2em; 
                margin-top: 1rem;
            }

    .rodape {
        line-height: 1.5em;
        text-align: center;
        margin: 9rem 8.4% 6.25rem; 
    }

        .rodape__lista {
            display: flex;
            justify-content: center;
            gap: 1rem;
            list-style-type: none;
            margin: 2.5rem 2.3rem 1.5rem;
        }

        .rodape__lista__link {
            text-decoration: none;
            color: var(--branco-primaria);
        }

            .rodape__lista__link:hover {
                color: var(--botao-azul);
            }

            .rodape__lista__link:active {
                color: purple;
            }

        .rodape__texto {
            font-size: 0.88rem;
            color: var(--cinza-secundaria);            
        }